body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    block-size: border-box
}

.content-wrapper {
    padding: 0 8%;
    min-width: 480px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 h2 h3 {
    color: wheat;
}

.message1 {
    color: wheat;
    text-align: center;
    font-size: x-large;
}

.message2 {
    color: wheat;
    text-align: center;
    font-size: large;
}

.copyright {
    margin-top: 20%;
    color: wheat;
    text-align: center;
    font-size: small;
}

.content {
    width: 80%;
    margin: 60px auto;
    color: darkkhaki;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: darkkhaki;
    margin: 20px auto;
}

.form-container {
    min-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: darkkhaki;
    margin: 20px auto;
    border-radius: 6px;
    border: 1px solid red;
}

.inp {
    margin: 2% 5%;
}

.inpinp {
    background-color: #bbb;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0 8px;
    height: 22px;
}

.inp-btn {
    background-color: #e55;
    width: 80px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}

.button {
    margin: 20px 40px;
    border-radius: 8px;
    border: 1px solid red;
    width: 18%;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 0 0 15px 4px #848484;
    box-shadow: 0 0 15px 4px #eb9494;
}

.download-btn{
    width: 128px;
    height: 32px;
    color: red;
    border-radius: 8px;
    border: 1px solid red;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 10%;
    top: 40px;

}

.download-btn:hover {
    -webkit-box-shadow: 0 0 15px 4px #848484;
    box-shadow: 0 0 15px 4px #eb9494;
}

.ref {
    display: block;
    text-decoration: none;
    color: olivedrab;
    line-height: 32px;
    font-weight: 600;
}

.city-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    color: darkkhaki;
    width: 100%;
}

.city-container:nth-child(odd) {
    background-color: #0f0f0f;
}

.city-item {
    line-height: 14px;
    font-size: 12px;
    margin: 2px 0;
}

.city-id {
    width: 9%;
    padding-left: 5px;
}

.city-name {
    width: 30%;
}

.city-countryCode {
    width: 10%;
}

.city-district {
    width: 30%;
}

.city-population {
    width: 20%;
}

.country-code {
    width: 10%;
}

.country-region {
    width: 25%;
}

.country-name {
    width: 25%;
}

.country-capital {
    width: 20%;
}

.country-population {
    width: 10%;
}
.country-surfaceArea{
    width: 10%;
}

